html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #333;
}

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.header__top {
    min-height: 80px;
    padding: 15px 0;
    border-bottom: 1px solid #d29c3071;
    position: relative;
    z-index: 5;
}

.header__container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo img {
    width: 150px;
}

.header__social-list {
    display: flex;
}

.header__social-item + .header__social-item {
    display: block;
    margin-left: 25px;
}

.header__social-link {
    cursor: pointer;

}

.header__social-link svg {
    width: 42px;
    height: 42px;
    fill: #a5a5a5;
    transition: all .3s;
}

.header__social-link:hover svg {
    fill: #ffb400;
}

.header__menu-list {
    display: flex;
    align-items: center;

}

.header__menu-item {
    position: relative;
}

.header__menu-item + .header__menu-item {
    margin-left: 35px;
}

.header__menu-link {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.header__menu-link:hover {
    color: #ffb400;
}

.header__menu-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffb400;
    transition: 0.3s ease-out;
}

.header__menu-link:hover::after,
.header__menu-link:focus::after {
    width: 100%;
}

.header__content {
    margin-top: 150px;
}

.header__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__content-photo img {
    max-width: 350px;
    border-radius: 50px;
    border: 5px solid #ffb400;
}

.header__text {
    top: 100px;
    left: 80px;
    color: #fff;
}

.header__welcome {
    font-size: 26px;
    text-transform: uppercase;
}

.header__presentation {
    font-size: 52px;
    font-weight: 600;
    line-height: 72px;
    text-transform: uppercase;
}

.header__presentation span {
    font-weight: 900;
    color: #d29b30;
}

.header__descr {
    margin-top: 25px;
    max-width: 650px;
    font-size: 18px;
    line-height: 32px;
}

.header__btns {
    margin-top: 30px;
}


.header__btn-about{ 
    margin-right: 38px;
}

.header__btn-about,
.header__btn-portfolio {
    padding: 20px 30px 20px 60px;
    border: 1px solid #ffb400;
    cursor: pointer;
    background-color: transparent;  
    color: #fff;
    text-transform: uppercase;
    border-radius: 34px;
    transition: .3s all;
    font-weight: 600;
    position: relative;
}


.header__btn-about:hover,
.header__btn-portfolio:hover {
    background-color: #ffb400;
}

.header__btn-about::before{
    content: "\f007";
    font-family: 'icomoon';
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 24px;
}

.header__btn-portfolio::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 24px;
}