html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #333;
}

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.header__top {
    min-height: 80px;
    padding: 15px 0;
    border-bottom: 1px solid #d29c3071;
    position: relative;
    z-index: 5;
}

.header__container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo img {
    width: 150px;
}

.header__social-list {
    display: flex;
}

.header__social-item + .header__social-item {
    display: block;
    margin-left: 25px;
}

.header__social-link {
    cursor: pointer;

}

.header__social-link svg {
    width: 42px;
    height: 42px;
    fill: #a5a5a5;
    transition: all .3s;
}

.header__social-link:hover svg {
    fill: #ffb400;
}

.header__menu-list {
    display: flex;
    align-items: center;

}

.header__menu-item {
    position: relative;
}

.header__menu-item + .header__menu-item {
    margin-left: 35px;
}

.header__menu-link {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.header__menu-link:hover {
    color: #ffb400;
}

.header__menu-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffb400;
    transition: 0.3s ease-out;
}

.header__menu-link:hover::after,
.header__menu-link:focus::after {
    width: 100%;
}

.header__content {
    margin-top: 50px;
    /* position: relative; */
}

.header__content-inner {
    /* position: relative; */
}

.header__text {
    position: absolute;
}

.header__content-inner img {
    max-width: 800px;
    text-align: center;
    
}
